<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <p><a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></p>
      <h1>Contact Me</h1>
      <form class="form" action="">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email">
        </div>
        <div class="form-group">
          <label>Message</label>
          <textarea name="message" id="" cols="30" rows="10" placeholder="type your message here..."></textarea>
        </div>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</body>
</html>