<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <p><a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></p>
      <h1>About Me</h1>
      <div class="row">
        <div class="col-5">
          <img class="img-fluid" src="~/images/me.jpg" alt="profile picture">
          <h2>James Leu</h2>
          <h3>A neat guy</h3>
        </div>
        <div class="col-5">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, nisi. Voluptatibus sint earum error iste vero dignissimos eos id minima illum vel deleniti dolores deserunt omnis sapiente quae beatae, modi sit nihil doloremque assumenda impedit corporis a nam. Consectetur, pariatur voluptatum consequuntur laboriosam beatae quia aut ipsa voluptatem minima excepturi.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>