<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <p><a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></p>
      <h1>Here are some of my cool Projects!</h1>
      <fieldset>
        <legend>Project 1 Details</legend>
        <div class="row text-left">
          <img class="img-fluid col-1 d-inline" src="~/images/me.jpg" alt="">
          <p class="col-8 d-inline">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore sint repellat neque facilis aliquid repellendus ut at nesciunt omnis suscipit.</p>
        </div>
      </fieldset>
      <fieldset>
        <legend>Project 2 Details</legend>
        <div class="row text-left">
          <img class="img-fluid col-1 d-inline" src="~/images/me.jpg" alt="">
          <p class="col-8 d-inline">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore sint repellat neque facilis aliquid repellendus ut at nesciunt omnis suscipit.</p>
        </div>
      </fieldset>
      <fieldset>
        <legend>Project 3 Details</legend>
        <div class="row text-left">
          <img class="img-fluid col-1 d-inline" src="~/images/me.jpg" alt="">
          <p class="col-8 d-inline">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore sint repellat neque facilis aliquid repellendus ut at nesciunt omnis suscipit.</p>
        </div>
      </fieldset>
      <fieldset>
        <legend>Project 4 Details</legend>
        <div class="row text-left">
          <img class="img-fluid col-1 d-inline" src="~/images/me.jpg" alt="">
          <p class="col-8 d-inline">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore sint repellat neque facilis aliquid repellendus ut at nesciunt omnis suscipit.</p>
        </div>
      </fieldset>
    </div>
  </div>
</body>
</html>